<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}\App_Data\Logs\${shortdate}\log.log" concurrentWrites="false" archiveAboveSize="10240000"
            layout="Date：${longdate}${newline}Message：${message}${newline}Exception：${exception}${newline}Level：${level}${newline}Logger：${logger}${newline}ThreadId：${threadid}${newline}====================================================================================================" />
    <target xsi:type="Console" layout="${message}" name="console" />
  </targets>
  <rules>
    <logger name="*" writeTo="file,console" minlevel="Trace" />
  </rules>
</nlog>